/* Modal container */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  width: 80%;
  max-width: 800px; /* Maximum width at larger screens */
  max-height: 80%; /* Limit height to 80% of the screen */
  overflow-y: auto; /* Scroll within modal if content overflows */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Question navigation */
.question-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.create-quiz.selected {
  background-color: #28a745;
  color: white;
}

.question-number-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  
  transition: background-color 0.3s;
}

.question-number-container.active {
  background-color: #28a745;
  color: white;
}

.question-number-container .remove-question {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff5e5e;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-question {
  background-color: #28a745;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Question section */
.question-section {
  margin-bottom: 20px;
}

.question-section input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  color: #28a745;
}

/* Option type radio buttons */
.option-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.option-type label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.option-type input[type="radio"] {
  margin-right: 5px;
}

/* Option section */
.option-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option-section input[type="text"] {
  flex-grow: 1;
  padding: 12px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.option-section.selected input[type="text"] {
  background-color: #28a745;
  color: white;
  border: 1px solid #28a745;
}

.remove-option {
  background-color: #ff5e5e;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
}

.add-option {
  background-color: #9F9F9F;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin: 10px auto 0 auto;
}

/* Timer options */
.timer-options {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-options p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.timer-button {
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.timer-button.selected {
  background-color: #ff5e5e;
  color: white;
}

/* Modal actions */
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.modal-actions button {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.modal-actions button:first-child {
  background-color: #f4f4f4;
  color: #333;
}

.modal-actions button:last-child {
  background-color: #28a745;
  color: white;
}

/* Quiz link and share button */
.quiz-link {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.share-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
